ErrorDocument 403 /error/error_403.html
ErrorDocument 404 /error/error_404.html
ErrorDocument 500 /error/error_500.html
DirectoryIndex index.html .ht
AuthUserFile /home/jcjk-marketing/www/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow

<ifModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 15 daysâ
ExpiresByType image/gif "access plus 10 days"
ExpiresByType image/jpg "access plus 10 days"
ExpiresByType image/jpeg "access plus 10 days"
ExpiresByType image/png "access plus 10 days"
ExpiresByType application/x-javascript "access plus 10 days"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType text/js "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
</ifModule>
